<footer>
  <p>&copy; {{ site.time | date: '%Y' }} <a href="http://kevoncheung.com">{{ site.author.name }}</a></p>
  <a href="https://www.instagram.com/kevon/" target="_blank"><img class="social-icon" src="/assets/images/social/instagram.png" alt="Instagram"></a>
  <a href="https://www.facebook.com/kevon69" target="_blank"><img class="social-icon" src="/assets/images/social/facebook.png" alt="Facebook"></a>
  <a href="http://hk.linkedin.com/in/kevoncheung/" target="_blank"><img class="social-icon" src="/assets/images/social/linkedin.png" alt="LinkedIn"></a>
  <a href="https://github.com/kevonc" target="_blank"><img class="social-icon" src="/assets/images/social/github.png" alt="Github"></a>
  <a href="https://twitter.com/kevon69" target="_blank"><img class="social-icon" src="/assets/images/social/twitter.png" alt="Twitter"></a>
</footer>