<div class="navi">
	<a href="{{ HOME_PATH }}">
	  <img src="{{ ASSET_PATH }}/images/kevon.jpg" alt="kevon's blog" class="main-avatar">
	</a>

	<a href="{{ HOME_PATH }}">
		<h4>Kevon Cheung</h4>
	</a>

	<h5>Everyday is a lesson. This is where I share about life, startup, and code.</h5>

	<ul class="nav">
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/videos">Videos</a></li>
	  <li>{% assign pages_list = site.pages %}</li>
	  <li>{% assign group = 'navigation' %}</li>
	  <li>{% include JB/pages_list %}</li>
	</ul>
</div>