@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.otf') format('opentype');
}

// color schemes
$colorDarkChoco: #302c2b;
$colorChoco: #755754;
$colorLightChoco: #b5a19e;
$colorGrey: #757374;
//

// bootstrap fix
.row {
  margin-left: 0px;
  margin-right: 0px;
}
//

body {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.main-logo {
  width: 150px;
  height: auto;
}

footer {
  padding: 0 20px;
  color: $colorDarkChoco;
  a {
    color: $colorDarkChoco;
  }
}

// custom container
.container-narrow {
  margin: 0 auto;
  max-width: 860px;
  hr {
    margin: 10px 0;
  }
}

.content {
  padding: 20px 10px 0 10px;
}

.navi {
  a {
    color: $colorDarkChoco;
  }
  h4, h5 {
    text-align: center;
    font-weight: 700;
  }
}

// posts index
ul.posts {
  list-style: none;
  margin-left: -40px;
  li.post {
    padding: 20px 0;
    border-bottom: 1px dashed $colorLightChoco;
    &:last-child {
      padding-bottom: 10px;
      border-bottom: 0;
    }
    span.excerpt {
      display: block;
      margin: 10px 0;
    }
  }
}

// index
.more {
  text-align: center;
  margin-bottom: 20px;
  a {
    color: $colorGrey;
  }
}

// post header universal
.title {
  font-family: 'Proxima Nova Bold', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  color: $colorChoco;
  margin: 4px 0;
  padding: 0;
  a {
    color: $colorChoco;
    font-weight: 700;
  }
}

.tagline {
  font-style: italic;
  font-size: 1.2em;
  color: $colorLightChoco;
}

.date {
  font-family: 'Proxima Nova Light', Helvetica, Arial, sans-serif;
  color: $colorGrey;
  text-transform: uppercase;
}

// post-page
.page-header {
  margin: 0;
  padding-top: 20px;
  .date {
    margin-bottom: 10px;
  }
}

.post-full {
  padding-top: 24px;
  .post-content {
    img {
      &.full {
        width: 100%;
      }
      &.half {
        width: 50%;
      }
    }
    .tagline {
      text-align: center;
      margin-bottom: 24px;
    }
  }
}

// tag-box
.tag-boxes {
  margin: 20px 0;
  font-size: 0.9em;
  .tag-box {
    list-style: none;
    margin-left: -40px;
    overflow: hidden;
    li {
      line-height: 28px;
      span.glyphicon {
        font-size: 1.5em;
        color: $colorDarkChoco;
        margin-right: 10px;
        margin-top: 6px;
      }
    }
    &.inline {
      li {
        float: left;
      }
    }
    a {
      padding: 6px 9px;
      margin: 2px;
      background: lighten($colorLightChoco,30);
      color: #555;
      border-radius: 3px;
      text-decoration: none;
      border: 1px dashed #cccccc;
      span {
        vertical-align: super;
        font-size: 0.8em;
      }
      &:hover {
        background-color: lighten($colorLightChoco,22);
      }
      &.active {
        background: #57A957;
        border: 1px solid #4c964d;
        color: #FFF;
      }
    }
  }
}

// post pagination
.pagination {
  margin: 0;
  ul {
    list-style: none;
    margin-left: -40px;
    li {
      a {
        color: $colorGrey;
      }
    }
  }
}

// categories and tags
.categories, .tags {
  padding-top: 4px;
  padding-bottom: 10px;
  border-bottom: 1px dashed $colorLightChoco;
}

.category-list, .tag-list {
  a {
    color: $colorChoco;
  }
}

// archive
.archive {
  .year {
    color: $colorDarkChoco;
    border-bottom: 1px dashed $colorLightChoco;
  }
  ul.posts {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 0;
    li {
      padding-bottom: 10px;
      .post-date {
        width: 10%;
        display: inline-block;
        margin-right: 10px;
        p {
          font-size: 14px;
          text-align: center;
          text-transform: uppercase;
          color: $colorGrey;
          margin: 0;
          padding-top: 4px;
          span {
            font-size: 16px;
            display: block;
          }
        }
      }
      .post-info {
        width: 85%;
        display: inline-block;
        p {
          font-size: 16px;
          margin: 0;
          a {
            color: $colorChoco;
          }
        }
        ul.post-cat {
          list-style: none;
          font-size: 12px;
          display: block;
          padding: 2px 0;
          li {
            display: inline;

          }
        }
      }
    }
  }
}

// projects
#portfolio {
  margin-top: 20px;
  ul {
    list-style-type: none;
  }
}

.workItem {
  margin-bottom: 40px;
  aside {
    padding-right: 50px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    h2 {
      color: #333333;
    }
    h3 {
      font-size: 0.9em;
      margin: 0 0 10px 0;
      a:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-top: 0;
      font-size: 0.9em;
      color: #333333;
    }
  }
  .tags {
    li {
      font-size: 0.9em;
    }
  }
  section {
    padding-right: 50px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    img {
      width: 200px;
      height: auto;
    }
  }
}

// responsive
@media screen and (max-width: 767px) {
  .content {
    padding: 0 10px;
  }
  .navi, footer {
    padding: 0 10px;
  }
  .navi {
    img {
      float: left;
    }
    h4, h5 {
      text-align: left;
      margin-left: 174px;
    }
    h4 {
      padding-top: 30px;
    }
    .nav {
      li {
        display: inline-block;
        a {
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 499px) {
  .navi {
    img {
      float: none;;
      display: block;
      margin: 0 auto;
    }
    h4, h5 {
      text-align: center;
      margin-left: 0;
    }
    h4 {
      padding-top: 0;
    }
    .nav {
      text-align: center;
      li {
        display: inline-block;
        a {
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
  }
  .archive {
    ul.posts {
      li {
        .post-date {
          width: 90%;
          p {
            text-align: left;
            span {
              display: inline;
              font-size: 14px;
            }
          }
        }
        .post-info {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (max-width: 367px) {
  .navi {
    .nav {
      li {
        a {
          padding: 10px 5px;
        }
      }
    }
  }
}