@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.otf') format('opentype');
}

// color schemes
$colorDarkChoco: #302c2b;
$colorChoco: #755754;
$colorLightChoco: #b5a19e;
$colorGrey: #757374;
//


body {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

// custom container
.container-narrow {
  margin: 0 auto;
  max-width: 800px; 
  hr {
    margin: 10px 0; 
  }
}

// posts index
ul.posts { 
  list-style: none;
  margin-left: -40px;
  li.post {
    padding: 20px 0;
    border-bottom: 1px dashed $colorLightChoco;
    &:last-child {
      padding-bottom: 10px;
      border-bottom: 0;
    }
    h4.title {
      font-family: 'Proxima Nova Bold', Helvetica, Arial, sans-serif;
      font-size: 1.3em;
      margin: 4px 0;
      padding: 0;
      a {
        color: $colorChoco;
        font-weight: 700;
      }
    }
    span.date {
      font-family: 'Proxima Nova Light', Helvetica, Arial, sans-serif;
      color: $colorGrey;
      text-transform: uppercase;
    }
    span.excerpt {
      display: block;
      margin: 10px 0;
    }
  }
}


.post > .more {
  margin: 10px 0;
  text-align: left; 
}

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; 
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; 
}

.tag_box li {
  line-height: 28px; 
}

.tag_box li i {
  opacity: 0.9; 
}

.tag_box.inline li {
  float: left; 
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; 
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; 
}

.tag_box a:hover {
  background-color: #e5e5e5; 
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; 
}