<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | kevon's blog | life, startup, and code</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="Everyday is a lesson when your knowledge and experience contribute to it.">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Open Graph data -->
    <meta property="og:site_name" content="kevon's blog | life, startup, and code" />
    <meta property="og:title" content="kevon's blog | life, startup, and code" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.kevoncheung.com/" />
    <meta property="og:image" content="http://kevoncheung.com/assets/images/logo.png" />
    <meta property="og:description" content="Everyday is a lesson when your knowledge and experience contribute to it." />

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" type="image/png" href="{{ ASSET_PATH }}/images/favicon.png" />

    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/pygments.css">

    <!-- Le styles -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="{{ ASSET_PATH }}/css/styles.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43131706-4', 'kevoncheung.com');
      ga('send', 'pageview');

    </script>

  </head>

  <body>
    <div class="container-narrow">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          {% include navbar.html %}
        </div>
        <div class="col-xs-12 col-sm-9">
          <div class="content">
            {{ content }}
          </div>
        </div>
        <div class="col-xs-12">
          <hr>
          {% include footer.html %}
        </div>
      </div>
    </div>
    {% include JB/analytics %}
  </body>
</html>
